@font-face {
    font-family: 'karlaregular';
    src: url('karla-regular-webfont.woff2') format('woff2'), url('karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    background-color:#535252; 
    color: #F9F7F7;
    font-family: 'karlaregular'
}

header .navbar .navbar-brand {
    color: #000;
    text-shadow: 1px 2px 1px #999;
}

.navbar-nav .nav-item a {
    color: #000;
    font: 12px;
   
}

.nav-adjust {
    margin-left: 30px;
    margin-right: 30px;
    background-color: #f9f7f7a6;
}

.c-caption {
    position: absolute;
    width: 50%;
    height: 50px;
    top: 0;
    margin-top: 120px;
    margin-left: 20%;
    margin-right: 20%;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 42px;
    text-transform: capitalize;
    color: #000000;
    background-color: rgba(221, 226, 229, 0.3);
    border: 1px solid #000000;
    box-sizing: border-box;
}

.carousel-caption {
    text-transform: capitalize;
    color: black;
    background-color: white;
    border: 1px solid #CCC;
    box-sizing: border-box;
    position: absolute;
    right: 35%;
    bottom: 20px;
    left: 32%;
    z-index: 10;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    width: 40%;
    border-radius: 10px;
}

.carousel-item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.slider-section {
    min-height: 10%;
    width: 20%;
}

.slider-caption {
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
    padding: 1rem;
    height: 85px;
    width: 100%;
    background-color: red;
}



/*styling for contact-page starts from here*/



@media (max-width: 768px) {
    .article,
    .article:nth-child(even) {
        flex-direction: column;
    }
}

.grid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #fff;
}

.grid:nth-child(1) {
    padding: 20px;
    background: #eee;
    justify-content: flex-start;
}

.ttr {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#btn-c-badge {
    /*background-color: #7AD4B4;*/
    border: 0;
}

.btn {
    position: relative;
    margin-top: 10px;
}

.side {
    position: relative;
    z-index: 99;
    width: calc(100% + 60px);
    background: #4d4d4d;
    margin-right: -20px;
    padding: 20px;
}

.para {
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fas,
.far,
.fa {
    margin-right: 10px;
}

.img {
    width: 50%;
}

.btnWatch {
    position: absolute;
    left: auto;
    right: auto;
    bottom: auto;
    background: #009688a6;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
}