  
@import url("https://fonts.googleapis.com/css2?family=Open+Sans=Lora&display=swap");
* {
  margin: 0 !important;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html.body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans" sans-serif;
}

/*Navigation style starts here!*/
.navbar {
    background-color: rgba(233, 35, 65, 0.5);
    padding-left: 80px;
    padding-right: 45px;
   align-items: center;
   box-shadow: 0 1px 10px 1px rgba(23, 26, 214, 0.479);
   display: flex;
   justify-content: space-between;
   position: sticky;
   margin: 0 auto;
  
  
}
.logo-text{
   margin-left: 10rem;
}
.navbar ul {

display: flex;
justify-content: space-between;
align-items: center;
}
.navbar li {
padding-bottom: 0.5rem;
border-bottom: 3px cyan;
}

.navbar li .active {
padding-bottom: 0.5rem;
}




.navbar-toggler,
.navbar-light {
  border: none;
}

 .navbar-light .navbar-toggler,
.navbar-toggler-icon {
  color: white;
} 


.navbar-light,
.navbar-nav,
.nav-link {
    font-family: DM Sans;
    color: white; 
}

.nav-h2{
    position: absolute;
    padding-top: .1rem;
    margin-left: 8rem;
    color: white;
    font-size: 30px;
  }
.nav-link, .logo-text{
   color: #fff !important;
   padding: 10px 0;
   line-height: 20px;
}
.nav-link{
   font-size: 1.3em;
}
.nav-link:hover{
   text-decoration: underline;
   color: rgb(233, 232, 232) !important;
}
/* End of Navigation */

.bg-img1{
   background: url(../images/Rectangle\ 396.png);
   background-size: 100% 100%;
   background-repeat: no-repeat;
 }


 .btn{
 margin-left: 10rem; 
   /* width: 22%; */
   /* height: 6vh; */
   background-color: #FB3F5C;
   color: #FFFFFF;
   border: none;
   /* align-items: left; */
   margin-top: 1rem;

}
.btn:hover{
   box-shadow: opx opx 5px 2px;
   background: black;
   border-radius: 25px;
   color: white;
}
.btn2{
   margin-left: 10rem;
   width: 26%;
   height: 6vh;
   background-color: #FB3F5C;
   color: #FFFFFF;
   border: none;
   align-items: left;
   margin-top: 1rem;
   border-radius: 5px;
}

.btn2:hover{
   box-shadow: opx opx 5px 2px;
   background: black;
   border-radius: 25px;
   color: white;
}
.btn3{
   width: 80%;
   height: 6vh;
   background-color: #FB3F5C;
   color: #FFFFFF;
   border: none;
   align-items: center ;
   margin-top: 1rem;
   font-size: 16px;
   border-radius: 5px;
}
.btn4{
    width: 20%;
    height: 6vh;
    background-color: #FB3F5C;
    color: #FFFFFF;
    border: none;
    align-items: center ;
    margin-top: 1rem;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 2rem;
 }
.btn3:hover{
   box-shadow: opx opx 5px 2px;
   background: black;
   border-radius: 25px;
   color: white;
}
.btn4:hover{
    box-shadow: opx opx 5px 2px;
    background: black;
    border-radius: 25px;
    color: white;
 }
.header-container{
   background-color: #FCFCFC;
}
.img-fluid1{
   /* padding-top: 2rem; */
}
.h2-header{
   /* margin-left: 10rem;
   padding-top: 10rem; */
}
.h1-header1{
    margin-left: 10rem; 
}
.p-header2{
   /* margin-left: 8.5rem; */
  
}
.aboutme{
   align-items: center;
}

.container-about{
   /* margin-left: 10rem; */
}
.hr{
   background-color: #FB3F5C;
   width: 13%;
   margin-left: 24rem; 
   height: 4px;
   border-radius: 5rem;
   margin-top: 0; 
   margin-left: 32rem; 
 
}
.hr1{
   background-color: #FB3F5C;
   width: 13%;
   text-align: center;
   height: 4px;
   border-radius: 5rem;
   margin-top: 0;   
}
.hr2{
   background-color: #FB3F5C;
   width: 12%;
   max-width: 100px;
   height: 4px;
   border-radius: 5rem;
}
/* .hr3{
   background-color: #FB3F5C;
   width: 12%;
   margin-left: 25rem;
   height: 4px;
   border-radius: 5rem;
   margin-top: 0;   
} */
.head1{
   /* padding-top: 2rem; */
   font-weight: bold;
   /* margin-left: 15rem;  */
   font-family: DM Sans;
   font-style: normal;
   /* font-size: 48px; */
   /* line-height: 62px; */
   /* display: flex; */
}

.container1{
    background-color: #04172A;
    color: #FFFFFF;
    /* margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem; */
}
.ctn1-h2{
    font-size: 1.5em;
}
.container2{
    background-color: #E5E5E5;
    margin-top: 2rem;
    margin-left: 10rem;
}

.padding {
  /* padding-bottom: 0rem; */
}
.container-fluid1 {
  width: 90%;
  margin: 0 auto !important;
  /* padding-top: 2rem; */
}
.container-fluid2 {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
p{
    padding-left: 1.5rem;
}
.about5{
    text-align: center;
    /* margin-left: 23rem; */
}
.map{

   justify-content: right;
}
.p-text{
   text-align: left;
   
}
.phnicon{

   padding-top: .5rem;
   padding-left: 1rem;
}
.emailcon{
   padding-top: .5rem;
   padding-left: 1rem;

}

.locationicon{
   padding-top: .5rem;
   padding-left: 1rem;
}

.textbox {
  background-color: #e8faff;
  padding: 5px 5px;
  margin-top: 1rem;
}
.header-container{
   margin-left: 5rem;
}

.form-control{
 height: 50px;
 width: 50%
}


form{
   /* position: relative; */
   /* margin-left: 2rem; */
}
.form-control-textarea{
 resize: none;

}
.form-control:focus {

   color: #000;

}
footer {
    background-color: #04172A;
    color: white;
    padding-top: 2rem;
}
.footer-text {
  font-size: 11px;
}
/*---- media queries---*/

@media (max-width: 992px) {
  .display-none {
    display: none;
  }
  .icon-text {
    font-size: 10px;
  }
  .h2-header{
   font-size: 1.2em;
   font-weight: 600;
   text-align: center;
}
  .h1-header1{
   font-size: 1.2em;
   font-weight: 600;
   text-align: center;
}
.p-header2{
   font-size: 1em;
   text-align: center; 
}
.h2-head1{
   text-align: center;
}

}

@media (max-width: 576px) {

   .h2-header{
      font-size: 1.2em;
      font-weight: 600;
      text-align: center;
   }
   .h1-header1{
      font-size: 1.2em;
      font-weight: 600;
      text-align: center;
   }
   .p-header2{
      font-size: 1em;
      text-align: center; 
   }
   .header-container{
      margin-left: 5rem;
   }
   form{
     position: relative; 
    margin-left: 2rem; 
   }
  

  .bookish-text {
    font-size: 24px;
  }

  .bslanding {
    width: 240px;
    height: 237px;
  }

  .card {
    width: 100%;
    margin: 1rem 5px;
  }
  .card-icon {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 768px){

   .h2-header{
  margin-left: 10rem !important;
  padding-top: 10rem !important; 
}
   
}

/*
@media (max-width: 992px){ 
    footer{
        width: 100%;
    }
}
@media (max-width: 768px){

    .h2-header{
   margin-left: 10rem;
   padding-top: 10rem; 
}
    
}
@media (max-width: 576px){
    footer{
        width: 100%;
    }
}
*/

/*Extra small (xs) devices (portraite phones, less than 576px)
no media query since this is the default in bootstrap
small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px){}
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px){}
Large (lg) devices (desktopss, 992px and up)
@media (min-width: 992px){}
Extra (xl)  large devices (Large Desktops, 1200px and up)
@media (min-width: 1200px){}
*/